@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Playwrite+US+Modern:wght@400&family=Playwrite+DE+Grund:wght@400&family=Rancho&family=Fondamento:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.escondida {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    pointer-events: none;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

body {
    background: linear-gradient(180deg, #82d9ff 0%, #c1e2ff 100%);
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-family: Arial, sans-serif;
    gap: 3rem;
}

.caixRespostas {
    background-color: #f5f5f5;
    width: 420px;
    border-radius: 25px;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Resposta1,
.Resposta2,
.Resposta3,
.Resposta4 {
    background-color: #a8c4e0;
    border-radius: 25px;
    text-align: center;
    padding: 1rem 2rem;
    color: #00081a;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
    transition: background-color 0.3s;
}

.Resposta1:hover,
.Resposta2:hover,
.Resposta3:hover,
.Resposta4:hover {
    background-color: #98b8d4;
}

.personagem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: -15rem;
    left: 14rem;
    background-color: aliceblue;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.178);
    border-radius: 20px;
}

.balaoDePergunta {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 2rem 2.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    max-width: 500px;
    margin-bottom: 2rem;
    position: relative;
    top: -10rem;
}

.Pergunta {
    font-size: 1.3rem;
    color: #000;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Character {
    height: 400px;
    width: auto;
    display: block;
}

.caixRespostas h2 {
    margin-bottom: 1rem;
    color: #0056b3;
    font-size: 1.5rem;
}

.caixRespostas p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.caixRespostas strong {
    color: #0056b3;
}

#ReinicarBtn {

    border: none;
    background-color: #00aeff;
    border-radius: 0.625rem;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    position: relative;
    left: -38rem;
    top: 13rem;
}

#MenuBtn {

    border: none;
    background-color: #00aeff;
    border-radius: 0.625rem;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    position: relative;
    left: -41rem;
    top: 13rem;
}